.our-team-box {
  padding: 94px;
  background: var(--2bgcol);
  .work-position {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--2fontcol);
    text-decoration: none;
    .team-figure-box {
      background: var(--1bgcol);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      padding-bottom: 30px;
      .social-media-grid {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        list-style: none;
        &__social-media-list {
          color: var(--3fontcol);
          padding: 12px 12px;
          border: 1px solid var(--1bgcol);
          border-radius: 50%;
          margin-top: 16px;
          gap: 10px;
          display: block;
          &--social-media-icon {
            display: block;
            fill: currentColor;
          }
        }
        &__social-media-list:hover {
          color: var(--1bgcol);
          background-color: var(--1activecol);
          cursor: pointer;
          transition: var(--slowmo);
        }
        &__social-media-list:focus {
          color: var(--1bgcol);
          background-color: var(--1activecol);
          cursor: pointer;
          outline: none;
          transition: var(--slowmo);
        }
      }
    }
  }
}
